# dependencies
node_modules/

# build
dist/
coverage/
*.tsbuildinfo
.expo/
expo-env.d.ts

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# Supabase CLI link metadata
/supabase/.temp/

# Vercel
.vercel

example
