@import 'tailwindcss';
@plugin 'daisyui' {
  themes: cupcake --default;
}
@plugin 'daisyui/theme' {
  name: 'cupcake';
  default: true;
  --size-field: 0.28125rem;
}

html,
body,
#root {
  height: 100%;
}
